{% extends 'admin/master.html' %}
{% block head_css %}
    {{ super() }}
    <style>
        .log-table table {
            table-layout: fixed;
            width: 100%;
        }
        .log-table td,
        .log-table th {
            word-wrap: break-word;
            white-space: normal !important;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container-fluid"> 
    <h2>Access Analysis</h2>
    <div class="card my-4">
        <div class="card-body">
            <h3>Total visits: {{ total_requests }}</h3>
        </div>
    </div>  
    <div class="card my-4">
        <div class="card-header">
            Access graph by method:
        </div>
        <div class="card-body text-center">
            <img src="data:image/png;base64,{{ chart_url }}" alt="Chart" class="img-fluid">
        </div>
    </div>

    <div class="card my-4">
        <div class="card-header">
            AI analyzes access behavior (last 10 logs):
        </div>
        <div class="card-body table-responsive log-table">
            {{ log_table | safe }}
        </div>
        <div class="card-footer">
            <form method="GET" action="{{ url_for('admin.export_logs') }}" class="form-inline">
                <div class="form-group mb-2">
                    <label for="filetype" class="mr-2">Select export format:</label>
                    <select name="filetype" id="filetype" class="form-control mr-2">
                        <option value="csv">CSV</option>
                        <option value="excel">Excel (.xlsx)</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Export logs</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
