<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <style>nav { background:#00FFFF; padding: 10px; }</style>
</head>
<body>
<nav>
  {% if session.get('username') %}
    Xin chào, {{ session['username'] }} |
    <a href="{{ url_for('home') }}">Home</a> |
    <a href="{{ url_for('search') }}">Search</a> |
    {% if session['username'] == 'admin' %}
      <a href="{{ url_for('admin') }}">Admin</a> |
    {% endif %}
    <a href="{{ url_for('logout') }}">Logout</a>
  {% else %}
  <a href="{{ url_for('home') }}">Home</a> |
    <a href="{{ url_for('login') }}">Login</a> |
    <a href="{{ url_for('signup') }}">Signup</a>
  {% endif %}
</nav>
<hr>
{% block content %}{% endblock %}
</body>
</html>
